<ion-view id="selected_item_page">
	<ion-nav-buttons side="left">
		<button ui-sref="app.items_list" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right" >
		<button id="cart_list_icon1" ng-click="viewCart()" class="button-icon button button-clear flaticon-shop"><i class="badge badge-light header-badge"><span ng-if="cartCount!=0">{{cartCount}}</span></i></button>
	</ion-nav-buttons>
	<ion-nav-title> {{selected_item.item_name}} </ion-nav-title>
	<ion-content>
		<div class="padding">
		<img ng-src="{{selected_item.imageUrl}}"  class="full-image" alt="">
			<div class="list profileDetails">
				<div class="item item-icon-left item-button-right">
					<i class="icon"><span>{{siteSettings.currency_symbol}}</span></i> {{'cost' | translate}} {{selected_item.item_cost}}
					<!-- <button class="button button-icon button-green flaticon-commerce" ng-click="addToCart(selected_item)">
			        </button> -->
				</div>
				<div class="item item-icon-left item-button-right" ng-click="customizeOrder(selected_item)" ng-if="selected_item.options.length!=0">
					<i class="icon ion ion-ios-pie-outline"></i> {{'sizes' | translate}}
					<i class="icon icon-right ion ion-ios-arrow-down"></i>
				</div>
				<div class="item item-icon-left item-button-right" ng-click="open_addons_model(selected_item)" ng-if="selected_item.addons.length!=0">
					<i class="icon ion ion-ios-color-wand-outline"></i> {{'addons' | translate}}
					<i class="icon icon-right ion ion-ios-arrow-down"></i>
				</div>
				<div class="item item-icon-left"> <i class="icon mdi mdi-map"></i> <strong>{{'description' | translate}}</strong> </div>
				<div class="item item-text-wrap address">
					<p>
						{{selected_item.item_description}}
					</p>
				</div>
			</div>
			<!-- <button class="button-block button button-assertive" ng-disabled="disableButtons" ng-style="disableTagButton" ng-click="viewCart()">{{'viewCart' | translate}}</button> -->
			<button class="button-block button button-assertive" ng-disabled="disableButtons" ng-style="disableTagButton" ng-click="addToCart(selected_item)">{{'addToCart' | translate}}</button>
		</div>

	</ion-content>
</ion-view>
