<ion-view cache-view="false" view-title="{{'resetPassword' | translate}}">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear button-icon mdi mdi-chevron-left" ng-click="goBackHistory()"></button>
        </div>
        <h1 class="title">{{'resetPassword' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="padding" id="resetPasswordPage">
        <div class="list formList">
            <form name="resetPasswordForm" novalidate ng-submit="resetPasswordForm.$valid && resetPwd()">
                <label class="item item-input item-icon-left"
                       ng-class="{ 'has-error' : resetPasswordForm.newPassword.$invalid && resetPasswordForm.$submitted, 'valid' : resetPasswordForm.newPassword.$valid && (resetPasswordForm.confirmPassword.$dirty || submitted)}"
                        ><i class="icon mdi mdi-lock"></i>
                    <input type="password"
                           placeholder="{{'newPassword' | translate}}"
                           name="newPassword"
                           ng-model="resetPassword.newPassword"
                           required>
                </label>
                <label class="item item-input item-icon-left"
                       ng-class="{ 'has-error' : (resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.$submitted) || (resetPasswordForm.confirmPassword.$viewValue!=resetPasswordForm.newPassword.$viewValue && resetPasswordForm.confirmPassword.$dirty), 'valid' : resetPasswordForm.confirmPassword.$valid && (resetPasswordForm.confirmPassword.$dirty || submitted)}"
                        ><i class="icon mdi mdi-lock"></i>
                    <input type="password"
                           placeholder="{{'confirmPassword' | translate}}"
                           name="confirmPassword"
                           ng-model="resetPassword.confirmNewPassword"
                           compare-to="resetPassword.newPassword"
                           ng-change="compare()"
                           required>
                </label>
                <button class="button button-block button-assertive" type="submit" ng-click="submitted=true">{{'submit' | translate}}</button>
            </form>
        </div>
    </ion-content>
</ion-view>
